<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include("./common/head") %> 
      <link rel="stylesheet" href="/css/authPage.css">
  </head>
  <body>
    <%- include('./common/alert',{messages:messages}) %>
  <section class="h-100 gradient-form" style="background-color: #eee;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="card-body p-md-5 mx-md-4">
    
                    <div class="text-center">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                        style="width: 185px;" alt="logo">
                      <h4 class="mt-1 mb-5 pb-1">We are The Fruitfy Team</h4>
                    </div>
    
                    <form action="/product/add-fruits" method="post" enctype='multipart/form-data' >
                      <p>Please Add A product</p>
                      

                      <div data-mdb-input-init class="form-outline mb-4">

                        <input type="text" name ="name" id="" class="form-control"
                          placeholder="Product name" />
                        <label class="form-label" for="form2Example11">Product name</label>
                      
                      </div>
                      <div data-mdb-input-init class="form-outline mb-4">

                        <input type="text" name ="description" id="" class="form-control"
                          placeholder="Product description" />
                        <label class="form-label" for="form2Example11">Product description</label>
                      
                      </div>
                      <div data-mdb-input-init class="form-outline mb-4">

                        <input type="number" name ="price" id="" class="form-control"
                          placeholder="Product Price" />
                        <label class="form-label" for="form2Example11">Price</label>
                      </div>
                      <div data-mdb-input-init class="form-outline mb-4">

                        <input type="number" name ="stock" id="" class="form-control"
                          placeholder="Current Stock" />
                        <label class="form-label" for="form2Example11">Product Stock</label>
                      
                      </div>
                      <div data-mdb-input-init class="form-outline mb-4">

                        <input type="file" name ="image" id="" class="form-control"
                          placeholder="Product image" />
                        <label class="form-label" for="form2Example11">Product image</label>
                      
                      </div>
                      <div class="text-center pt-1 mb-5 pb-1">
                        <button type="submit" data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Add</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                  <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
        
    <%- include('./common/scripts') %>
  </body>
</html>